<html>
<head>
</head>
<body>
	<div class="page-title">
		<h1>Backbone test</h1>
	</div>

	<div class="data-list">
		<ul>
			<li>Name: <%= user_name %></li>
			<li>Age: <%= user_age %></li>
			<li>Height <%= user_height %></li>
		</ul>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="main.js"></script>
</body>
</html>
